<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Instagram Posts</h1>
    <div class="card">
      <%for(post of posts){%>
      <div class="post">
        <h3 class="user">@<%=post.username%></h3>
        <img src="<%=post.img%>" class="image" alt="insta.img" />
        <h4 class="caption"><%=post.caption%></h4>
        <a href="http://localhost:8080/posts/<%=post.id%>">See in detail</a>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
        <form method="post" action="/posts/<%=post.id%>?_method=Delete">
          <button>Delete</button>
        </form>
      </div>
      <%}%>
    </div>
    <br /><br />
    <a class="new" href="http://localhost:8080/posts/new">New post</a>
  </body>
</html>
