<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <style>
        img{
            height:150px;
            width:150px
        }
    </style>
</head>
<body>
    <h1>Edit your post</h1>
    <p>Post id:<%=post.id%></p>
    <p>Post username:@<%=post.username%></p>
    <img class="image" src="<%=post.img%>">
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="caption" rows="10" cols="35"><%=post.caption%></textarea>
        <button>Submit</button>
    </form>

</body>
</html>